<%= image_tag @recipe.image.url(:medium, class:"recipe_image") %>

<div class="row">
  <div class="small-2 large-2 columns">
     <div class="container">
     <p> Rate this :
    <%= imdb_style_rating_for @recipe, current_user, disable_after_rate: true, imdb_avg: true%>  
    </p> 
  </div>
  <br>
  <div class="small-2 large-4 columns">
   <div class="container">
   <% if current_user.id != @recipe.user.id %>
      Original Score: <%= rating_for @recipe, "original_score", disable_after_rate: true, imdb_avg: true, stars: 10 %>
      <%end%>
      <br>
     </div>
    </div>
  </div>
</div>
<h1><%= @recipe.title %></h1>
<P><%= @recipe.description %></P>
<p>Submitted by: <%= @recipe.user.username %></p>

<%= link_to "Back", root_path, class: "btn btn-default" %>
<% if current_user.id == @recipe.user.id %>
<%= link_to "edit", edit_recipe_path, class: "btn btn-default" %>
<%= link_to "Delete", recipe_path, method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-default" %>
<% end %>



<div class="main_content">
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction| %>
            <li>
              <%= direction.step %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


